{{> head }}

{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Bleach</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis nihil hic eius alias aliquam cupiditate odit unde vero! Ipsa amet eius illo beatae incidunt autem ipsum placeat libero quod deleniti.</p>
  </div>
  <div class="col-4">
    <img class="img-thumbnail" src="./assets/img/bleach.jpg">
  </div>
</div>

{{> footer}}